{% extends 'adminlayout.html' %}

{% block body %}
<div class="main--container">
    <div class="section--title">
        <h3 class="title">Welcome back, Jenny</h3>
        <select name="date" id="date">
            <option value="last7">Last 7 days</option>
            <option value="lastmonth">Last month</option>
            <option value="lastyear">Last year</option>
            <option value="alltime">All time</option>
        </select>
    </div>
    <div class="cards">
        <div class="card card-1">
            <div class="card--title">
                <span class="card--icon icon"><i class="ri-shopping-bag-2-line"></i></span>
                <span>Sales</span>
            </div>
            <h3 class="card--value">$432,576.34 <i class="ri-arrow-up-circle-fill up"></i></h3>
            <h5 class="more">4,234 more than usual</h5>
            <div class="chart">
                <canvas id="sales"></canvas>
            </div>
        </div>
        <div class="card card-2">
            <div class="card--title">
                <span class="card--icon icon"><i class="ri-gift-line"></i></span>
                <span>Orders</span>
            </div>
            <h3 class="card--value">2,567 <i class="ri-arrow-down-circle-fill down"></i></h3>
            <h5 class="less">234 less than usual</h5>
            <div class="chart">
                <canvas id="orders"></canvas>
            </div>
        </div>
        <div class="card card-3">
            <div class="card--title">
                <span class="card--icon icon"><i class="ri-handbag-line"></i></span>
                <span>Products</span>
            </div>
            <h3 class="card--value">587 <i class="ri-arrow-up-circle-fill up"></i></h3>
            <h5 class="more">23 more than usual</h5>
            <div class="chart">
                <canvas id="products"></canvas>
            </div>
        </div>
        <div class="card card-4">
            <div class="card--title">
                <span class="card--icon icon"><i class="ri-user-line"></i></span>
                <span>Customers</span>
            </div>
            <h3 class="card--value">4,300 <i class="ri-arrow-down-circle-fill down"></i></h3>
            <h5 class="less">34 less than usual</h5>
            <div class="chart">
                <canvas id="customers"></canvas>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="section--title">
            <h3 class="title">Top products</h3>
            <div></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>

                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Last Update</th>
                    <th>Veiw</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders|reverse %}
                <tr>
                    <td>{{ order.orderId }}</td>
                    <td>{{ (order.orderDate|string)[0:16] }}</td>
                    <td>{{ order.totalAmount }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ (order.updated|string)[0:16] }}</td>
                    <td><a href="">View Order</a></td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>

</section>
{% endblock %}
        