{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="../static/css/disclamerpage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<
<!-- ____________________________________
                 main container
    _____________________________________
-->
<div class="main">
    <h1>Disclaimer</h1>
    <div class="policy-section">
        <h6>Lorem ipsum dolor sit.</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia provident possimus, ea autem
            dolorem consectetur, eligendi corrupti sit iste dignissimos dolores adipisci, laborum error tempore
            amet. Voluptate, ipsum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            eos. Consectetur aliquam corrupti repudiandae eius sequi eveniet similique numquam voluptatem?
        </p>
    </div>
    <div class="policy-section">
        <h6>Lorem ipsum dolor sit.</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia provident possimus, ea autem
            dolorem consectetur, eligendi corrupti sit iste dignissimos dolores adipisci, laborum error tempore
            amet. Voluptate, ipsum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            eos. Consectetur aliquam corrupti repudiandae eius sequi eveniet similique numquam voluptatem?
        </p>
    </div>
    <div class="policy-section">
        <h6>Lorem ipsum dolor sit.</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia provident possimus, ea autem
            dolorem consectetur, eligendi corrupti sit iste dignissimos dolores adipisci, laborum error tempore
            amet. Voluptate, ipsum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            eos. Consectetur aliquam corrupti repudiandae eius sequi eveniet similique numquam voluptatem?
        </p>
    </div>
    <div class="policy-section">
        <h6>Lorem ipsum dolor sit.</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia provident possimus, ea autem
            dolorem consectetur, eligendi corrupti sit iste dignissimos dolores adipisci, laborum error tempore
            amet. Voluptate, ipsum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            eos. Consectetur aliquam corrupti repudiandae eius sequi eveniet similique numquam voluptatem?
        </p>
    </div>

</div>
<script src="/static/js/privacyPolicyDisclaimer.js"></script>
{% endblock %}
   

  

